*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Envelope styling */
#envelope img {
    width: 200px;
    height: auto;
}

/* Message styling */
#message {
    color: #f1f1f1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border: rgb(165, 87, 87) solid 2px;
    margin: 0 auto;
}

.mainCard
{
    width: 90%;
}

@keyframes shake {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.shake-animation {
    animation: shake 0.5s infinite;
}

.shake-animation-2 {
    animation: shake 3s infinite;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
